<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body ng-app="cryptoApp" ng-controller="registrationController" data-ng-init="init()">
    <button type="button" class="btn btn-light float-right mr-5" ng-click="goToViewData()">View data</button>
    <div class="container mt-3">
        <h3>Registration form:</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Username</span>
            </div>
            <input type="text" class="form-control" ng-model="user.name" placeholder="Username">
        </div>
        <hr>
        <h5>Credit card:</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">&nbsp;&nbsp;Holder&nbsp;&nbsp;</label>
            </div>
            <input type="text" class="form-control" ng-model="card.holder" placeholder="Account holder" onkeyup="this.value=this.value.replace(/[0-9]/g,'')">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">&nbsp;&nbsp;&nbsp;Type&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <select class="custom-select" ng-options="ct for ct in cardType" ng-model="card.type" ng-disabled="!card.holder"></select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">&nbsp;Number&nbsp;</span>
            </div>
            <input type="text" class="form-control" ng-model="card.number" ng-disabled="!card.type" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">&nbsp;&nbsp;&nbsp;&nbsp;CVV&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <input type="text" class="form-control" ng-model="card.cvv" ng-disabled="!card.type" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Expiration month</label>
            </div>
            <select class="custom-select" ng-options="m for m in months" ng-model="card.expirationMonth"></select>

            <div class="input-group-prepend">
                <label class="input-group-text">Expiration year</label>
            </div>
            <select class="custom-select" ng-options="y for y in years" ng-model="card.expirationYear"></select>
        </div>
        <button class="btn btn-success" ng-click="save()" ng-disabled="!dataCorrect">Save</button>
    </div>
</body>

<footer>
    <!--bootstrap js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!--angularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <!--swal-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.js"></script>
    <!--credit card-->
    <script src="https://www.braemoor.co.uk/software/_private/creditcard.js"></script>
    <!--controller-->
    <script src="controller/registrationController.js" type="text/javascript"></script>
</footer>

</html>